<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * KAUA MAIA COUSILLAS
        * TDSI, PROGRAMAÇÃO III
        * 25/03/2021
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List.ejs</title>
    <style>
        table, tr, td {
            border: solid 1px black;
        }

        th {
            border: solid 3px black;
        }

        td, th {
            padding: 5px;
            padding-left: 4px;
            padding-right: 4px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Lista de livros cadastrados</h1>
    <form action="" method="POST">
        <label>Pesquisa:&nbsp;</label><input type="text" name="txtPesquisa" id="txtPesquisa">
        <input type="submit" value="Pesquisar" />
    </form>
    <p><a href="/add">Cadastrar um novo livro</a>&ensp;<a href="/autor">Autor, créditos</a></p>
    <br>
    <table>
        <tr>
            <th>ID:</th>
            <th>Livro:</th>
            <th>Autor(es):</th>
            <th>Ano da publicação:</th>
            <th>Editora:</th>
            <th>E-mail para contato:</th>
            <th>Quantidade no estoque:</th>
            <th colspan="2">Ação</th>

        </tr>
        <%Livros.forEach(function(livro){%>
        <tr>
            <td><%=livro._id%></td>
            <td><%=livro.nomeLivro%></td>
            <td><%=livro.autor%></td>
            <td><%=livro.anoPubli%></td>
            <td><%=livro.editora%></td>
            <td><%=livro.email%></td>
            <td><%=livro.quantidade%></td>
            <td><a href="/edit/<%=livro._id%>">Editar</a></td>
            <td><a href="/del/<%=livro._id%>">Deletar</a></td>
        </tr>
        <% }) %>
    </table>

    <h1><%=msg%></h1>
</body>
</html>